    body{
    background-color: lightcyan;
    }
	    
    img{
    width: 100px;
    height: 100px;
    }
    .links{
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    width: 200px;
    height: 150px;
    }
    .main{
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    }
    .welcome{
    font: PragmataPro;
    color: MediumTurquoise;	
    font-size: 65px;
    font-family: cursive;
    font-style: italic;
    text-align: center;
    }    
	.footer{
    width: 200px;
    height: 150px;
	}
    li{
    font-weight: bold;
    font-size: 20px;
    font-family: Monospace; 
        }
   .home{
    font: impact;
    font-family: fantasy;
    font-size: 24px;
    font-weight: bold;
        }
